@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



@media (prefers-color-scheme: dark) {
  html[data-theme="light"],
  html[data-theme="light"] body {
    background: #fff !important;
    color: #000 !important;
  }
  html[data-theme="light"] img,
  html[data-theme="light"] svg,
  html[data-theme="light"] canvas,
  html[data-theme="light"] video {
    filter: none !important;
  }
}
